@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Merriweather+Sans:wght@300;400;700&display=swap");
* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --gray-200: hsla(220, 17%, 93%, 1);
    --gray-400: hsla(216, 16%, 84%, 1);
    --gray-500: hsla(220, 13%, 46%, 1);
    --gray-900: hsla(221, 43%, 11%, 1);
    --gray-50: hsla(210, 24%, 98%, 1);

    --base-white: hsla(0, 0%, 100%, 1);
    --red-default: hsla(0, 59%, 35%, 1);

    font-family: Inter, "Arial";
}

header {
    display: flex;
    justify-content: space-between;
    line-height: 24px;

    padding: 18px 80px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 18px;
    font-weight: 500;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.navbar a {
    text-decoration: none;
    color: var(--gray-500);
}

.navbar a:hover {
    text-decoration: underline;
}

.empty {
    width: 142px;
    height: 32px;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.white-button {
    color: var(--gray-500);
    background-color: white;
    padding: 10px 18px;

    border: 0;
    border-radius: 8px;

    font-size: 16px;
}

.white-button:hover {
    cursor: pointer;

    outline: 1px solid black;
}

.red-button {
    padding: 10px 18px;
    background-color: var(--red-default);
    color: var(--base-white);

    border: 0;
    border-radius: 8px;

    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);

    font-size: 16px;
}

.red-button:hover {
    cursor: pointer;
    outline: 1px solid #000;
}

#about-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    padding: 96px 0;
}

#about-us h2 {
    font-size: 16px;
    color: var(--red-default);
    font-weight: 600;
    line-height: 24px;
}

#about-us h3 {
    color: var(--gray-900);
    font-size: 48px;
    font-weight: 600;
    letter-spacing: -0.96px;
}

#about-us p {
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    color: var(--gray-500);

    padding-top: 12px;
    width: 792px;
}

#metrics {
    display: flex;
    justify-content: center;
    padding: 0 80px 96px;
}

#container {
    display: flex;
    gap: 32px;
    padding: 0 32px;
}

#container div {
    width: 280px;
}

#container h2 {
    font-size: 60px;
    font-weight: 600;
    color: var(--red-default);
    line-height: 72px;
    letter-spacing: -1.2px;
}

#container h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    color: var(--gray-900);
}

#container p {
    font-size: 16px;
    line-height: 24px;
}

#jobs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#jobs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#jobs-container p:first-child {
    color: var(--red-default);
    background-color: hsla(0, 77%, 43%, 0.03);
    border-radius: 16px;

    padding: 4px 12px;
}

#jobs-container h3 {
    color: var(--gray-900);

    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.72px;
}

#jobs-container p {
    color: var(--gray-500);
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}

#jobs img {
    margin-top: 64px;
}

.jobs-container-2 {
    display: flex;
    flex-direction: column;
}

.jobs-container-2 h3 {
    margin-top: 64px;
    margin-bottom: 32px;

    font-size: 22px;
    font-weight: bold;
}

.job {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 24px 28px;
    margin-bottom: 24px;

    width: 720px;
    border: 1px solid var(--gray-200);
    border-radius: 16px;
}

.job .title-job {
    color: var(--gray-900);
    font-size: 18px;
    font-weight: bold;
    line-height: 28px;
    margin-bottom: 32px;
}

.job .info {
    color: var(--gray-500);
}

.job .info span + span {
    margin-left: 24px;
}

#statements {
    margin: 0 32px;
    padding: 32px;
}

#statements #container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px;

    background-color: hsla(0, 77%, 43%, 0.03);
    border-radius: 16px;
}

#container2 h3 {
    margin-top: 64px;

    color: var(--red-default);
    font-size: 14px;
    font-weight: bold;
}

#container2 h2 {
    margin: 16px 64px;

    font-size: 36px;
    letter-spacing: -0.72px;
    line-height: 44px;
    text-align: center;
    color: hsla(221, 43%, 11%, 1);
}

#container2 h4 {
    color: var(--gray-900);
    line-height: 24px;

    margin: 16px 16px 4px;
}

#container2 p {
    margin-bottom: 64px;

    color: var(--gray-500);
}

#forms {
    display: flex;
    flex-direction: column;
    align-items: center;

    background: var(--gray-50);
}

#forms h2 {
    margin-top: 96px;

    color: var(--gray-900);
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.72px;
}

#forms p {
    margin-top: 20px;

    font-size: 20px;
    line-height: 30px;
    color: var(--gray-500);
}

#forms form {
    margin-top: 40px;
    display: flex;
    gap: 16px;
}

#forms input {
    width: 330px;
    padding: 12px 14px 12px 16px;

    border-radius: 8px;
    border: 1px solid hsla(216, 16%, 84%, 1);
    box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}

#forms button {
    background: var(--red-default);
    color: var(--base-white);
    font-size: 17px;

    border: 0;
    border-radius: 8px;
    padding: 12px 20px;
}

#forms footer {
    margin: 32px auto 96px;

    color: var(--gray-400);
}
